*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	color: #555;
	font-size: 20px;
	font-family: "Raleway";
	text-rendering: optimizeLegibility;
}

h2{
	font-weight: 200;
}

.main-nav{
	text-align: center;
	padding: 10px 0px 10px 0px;
	background-color: #34495e;
}

.main-nav a:link,
.main-nav a:visited{
	font-weight: 200;
	color: #fff;
	text-decoration: none;
}

li a:link,
li a:visited {
	text-decoration: none;

}
