
html {
	font-family: "Raleway";
	text-rendering: optimizeLegibility;
	height: 4000px;
}

.landing {
	height: 961px;
}

.logo {
	position: absolute;
	display: block;
	margin: auto;
	left: 900px;
	bottom: 400px;
}

h1 {
	position: absolute;
	color: white;
	font-family: 'Sacramento';
	font-size:40px;
	left: 850px;
	bottom: 300px;
}

.gif img {
	display: block;
	margin: auto;
	width: 100%;
}

#nav ul {
	display: flex;
	background-color:rgba(255,255,255,0.8);

}

#nav li {
	margin: 20px 20px;
	font-size: 14px;
	}

.resting {
	color: #BC14B4 ;
	text-decoration: none;
}

a:hover {
	color: #0F0944 ;
	text-decoration: none;
}
 
#colorlogo {
	display: block;
	margin: 30px auto;
}

.thanks {
	position: relative;
}

#thankmsg {
	position: absolute;
	left: 350px;
	bottom: 50px;
	/*background-color: rgba(255, 255, 255, 0.4);*/
}

.donors {
	position: relative;
}

#donorsmsg {
	position: absolute;
	left: 350px;
	bottom: 50px;
}

.now {
	position: relative;
}

#nowmsg {
	position: absolute;
	left: 350px;
	bottom: 50px;
}


.thanks p,
.donors p,
.now p {
	width: 650px;
	display: block;
	margin: 40px auto;
	font-family: 'Sacramento';
	font-size: 28px;
	text-align: center;
}

#thanksbg,
#donorsbg,
#nowbg {
	margin: 30px 0px;
	opacity: 0.7;
	
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;
}

.thank-orna {
	display: block;
	margin: 40px auto;
}

.gallery-ny,
.gallery-hk {
	width: 600px;
	margin: 30px auto;
}

.gallery-ny img,
.gallery-hk img {
	margin: 0px 30px;
}

.celebration-gallery {
	display: flex;
}

.rotator {
	width: 900px;
	display: block;
	margin: 30px auto;
}

.active {
    color: #fff !important;
    text-decoration: underline !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-slider {
    margin-bottom: 60px;
}

.slick-prev {
    left: -55px;
}

.slick-next::before,
.slick-prev::before {
	content: "";
    display: block;
    width: 55px;
    height: 30px;
    opacity: 1;
    margin-left: -3px
}

.slick-next::before {
    background: url("../img/arrow-next.png") no-repeat 0px 0px;
    background-size: cover;
}

.slick-prev::before {
    background: url("../img/arrow-previous.png") no-repeat 0px 0px;
    background-size: cover;
}

#page-wrap {
	margin: 20px auto;
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

#contact-area {
	display: block;
	margin: 25px auto;
	width: 600px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 14px;
}

