
html {
	font-family: "Raleway";
	text-rendering: optimizeLegibility;
}
.landing img {
	display: block;
	margin: 0 auto;
	position: relative;
}

.landing button{
	background: transparent;
    border: none;
    font-size: 28px;
    font-family: "Raleway";
    position: absolute;


}