
html {
	font-family: "Raleway";
	text-rendering: optimizeLegibility;
	height: 4000px;
}

.landing {
	height: 961px;
	position: relative;
}

.logo {
	position: absolute;
	display: block;
	margin: auto;
	left: 900px;
	bottom: 600px;
}

h1 {
	position: absolute;
	color: white;
	font-family: 'Sacramento';
	font-size:40px;
	left: 850px;
	bottom: 500px;
}

.header {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}

.gif img {
	display: block;
	margin: auto;
	width: 100%;
}

#nav ul {
	display: flex;
	background-color:rgba(255,255,255,0.8);

}

#nav li {
	margin: 20px 20px;
	font-size: 14px;
	}

.resting {
	color: #BC14B4 ;
	text-decoration: none;
}

a:hover {
	color: #0F0944 ;
	text-decoration: none;
}
 
.colorlogo {
	display: block;
	margin: 30px auto;
}

.thanks {
	position: relative;
}

#thankmsg {
	position: absolute;
	left: 350px;
	bottom: 50px;
	/*background-color: rgba(255, 255, 255, 0.4);*/
}

.donors {
	position: relative;
}

#donorsmsg {
	position: absolute;
	left: 270px;
	bottom: 0px;
}

.now {
	position: relative;
}

#nowmsg {
	position: absolute;
	left: 270px;
	bottom: 50px;
}


.thanks p,
.donors p,
.now p,
.love p {
	width: 650px;
	display: block;
	margin: 40px auto;
	font-family: 'Sacramento';
	font-size: 28px;
	text-align: center;
	color: #0F0944;
}

.donors p,
.now p {
	width: 900px;
}

#thanksbg,
#donorsbg,
#nowbg,
#lovebg {
	margin: 30px 0px;
	opacity: 0.5;
	
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;
}

.thank-orna {
	display: block;
	margin: 60px auto;
}

.gallery-ny,
.gallery-hk {
	width: 600px;
	margin: 30px auto;
}

.gallery-ny img,
.gallery-hk img {
	margin: 0px 30px;
}

.celebration-gallery {
	display: flex;
}

.rotator {
	width: 900px;
	display: block;
	margin: 30px auto;
}

.slick-slider {
    margin-bottom: 60px;
}

.slick-prev {
    left: -55px;
}

.slick-next::before,
.slick-prev::before {
	content: "";
    display: block;
    width: 55px;
    height: 30px;
    opacity: 1;
    margin-left: -3px
}

.slick-next::before {
    background: url("../img/arrow-next.png") no-repeat 0px 0px;
    background-size: cover;
}

.slick-prev::before {
    background: url("../img/arrow-previous.png") no-repeat 0px 0px;
    background-size: cover;
}

#page-wrap {
	margin: 20px auto;
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}

.love {
	background: url("../img/Phandi-musket-31.png") no-repeat center center;
	background-size: cover;
	padding: 50px 0 100px;
}



.post {
	display: block;
	margin: 25px auto;
	width: 600px;
}

.post input, 
.post textarea {
	padding: 5px;
	width: 471px;
	font-size: 14px;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
	color: #3D052E;
}

.post textarea {
	height: 90px;
}

.post textarea:focus,
.post input:focus {
	border: 2px solid #900;
}

.post input.submit-button {
	width: 100px;
	float: right;
}

.post label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 14px;
	color: #3D052E;
}

.comment-collection {
	margin: 30px auto;
}

.comment-collection h2 {
	text-align: center;
	font-size: 32px;
	font-family: 'Sacramento';
	color: #BC14B4;
}

.comments li {
	font-size: 14px;
	color: #3D052E;
	margin: 40px auto;
	text-align: center;
    border-bottom: 1px dotted #BC14B4
}

.arrow-down {
	display: block;
	margin: 0px auto;
	margin-bottom: -130px;
	-webkit-animation-duration: 1s;
  	-webkit-animation-delay: 1s;
  	-webkit-animation-iteration-count: infinite;
}


