* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	box-sizing: border-box; 
}

html {
	font-family: 'Open Sans', sans-serif;

}

h1,
h2,
h3 {
	color: #CA5C27;
}

h2 {
	font-size: 20px;
	padding-top: 10px;
}

ul,
ol {
    list-style-position: inside;
}

section {
		display: flex;
	
}

.left-column {
	background-color: #EFF2D7;
	padding: 40px;
	flex: 2;
}

.left-column img {
	width: 650px;
}

.right-column {
	background-color: #F2DB8B;
	padding: 40px;

}

.turquoise {
	color: #52B797;
	padding: 10px 0px 10px 0px;
}


.time {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 20px 30px 20px 30px;
}

.time li {
	flex: 1;
	list-style: none;
	

}

.bold{
	color: #CA5C27;
	font-weight: bold;
	font-size: 20px;

}