html {
	background-color: #52B3D9;
}

h1 {
	/*text-align: center;*/
}
body {
	font-family: "Raleway";
	color: white;
	padding: 50px;
	height: 100%;
	/*display: inline-block; centering!?
	margin: 0 auto;*/

}

section {
	/*margin: 0 auto; *//*centering?*/
	display: flex;
}

.left-column {
	width: 300px;
	height: 300px;
	border: 2px solid white;
	border-radius: 50%;
	margin: 50px;
	position: relative;
	
}


.left-column input {
	position: absolute;
	left: 60%;
	top: 45%;

}

.left-column span {
	position: absolute;
	left: 70%;
	top: 60%;
	font-size: 24px;
}

.arrow {
	margin-top: 180px; /*how do you do this so you're not guessing px?*/
	font-size: 200%;
	

}
.right-column {
	width: 300px;
	height: 300px;
	border: 2px solid white;
	border-radius: 50%;
	margin: 50px;
	position: relative;

}

.right-column input {
	position: absolute;
	left: 60%;
	top: 45%;
}

.right-column span {
	position: absolute;
	left: 70%;
	top: 60%;
	font-size: 24px;
}


